version: '2'
services:

  app:
      build:
          context: .
          dockerfile: app/Dockerfile
      volumes:
          - "./app/src:/app/src"
          - "./app/pom.xml:/app/pom.xml"
      ports:
          - "8755:8080"


